.Button {
    height: 36px;
    background: radial-gradient(50% 50% at 50% 50%, #CB0202 0%, #8B2C2C 100%);
    color: #FFF500;
    border: 4px solid #7E7E7E;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
}

.Button :hover {
    background: radial-gradient(50% 50% at 50% 50%, #CB0202 40%, #8B2C2C 100%);
}

.Button :focus-visible {
    outline: 4px dashed darkorange;
}